.post-thumbnail {
  height: 150px;
  width: 150px;
}

.post-featured .post-thumbnail {
  height: 272px;
  width: 272px;
}

.post-preview p {
  font-size: 1.125rem;
}

@media(min-width: 768px) {
  .post-featured .post-preview {
    display: flex;
  }

  .post-preview p {
    margin-bottom: 0.5em;
  }

  .post-thumbnail {
    height: 150px;
    margin-right: 16px;
    width: 150px;
  }

  .post-featured .post-thumbnail {
    flex-shrink: 0;
    height: 300px;
    width: 300px;
  }
}

@media(min-width: 1024px) {
  .post-preview {
    display: flex;
  }
}

.button {
  font-size: 14px;
}
