.post-thumbnail {
  height: 272px;
  width: 272px;
}

.post-preview p {
	font-size: 1.125rem;
}

@media(min-width: 768px) {
	.post-preview {
	  display: flex;
	}

	.post-preview p {
	  margin-bottom: 0.5em;
	}

	.post-thumbnail {
    flex-shrink: 0;
	  height: 300px;
	  margin-right: 16px;
	  width: 300px;
	}
}

.button {
  font-size: 14px;
}
