body {
  background-color: black;
}

.blog-logo {
  display: block;
  margin: auto;
}

.post {
  box-sizing: border-box;
  background-color: white;
  padding: 8px;
}

.post-thumbnail,
.post-featured-media img,
.dc-post .post-excerpt img {
  border-radius: 0;
  display: block;
  margin: 0 auto 16px;
  max-width: 90%;
}

.post-preview p {
  font-size: 1.125rem;
}

@media(min-width: 768px) {
  .post-featured .post-preview,
  .post.simple .post-preview {
    display: flex;
  }

  .post-preview p {
    margin-bottom: 0.5em;
  }

  .post-featured .post-thumbnail,
  .dc-post .post-preview img {
    flex-shrink: 0;
    height: 300px;
    margin-right: 16px;
    width: 300px;
  }
}

@media(min-width: 1024px) {
  .post-thumbnail {
    max-height: 300px;
    max-width: 300px;
  }
}

.button {
  font-size: 14px;
}

#sidebar {
  background: #1a212b;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6,
#sidebar label,
#menu ul,
#menu ul a {
  color: white;
}
